{% extends "base.html" %}
{% block content %}
<html>
 <head>
<script src="http://maps.googleapis.com/maps/api/js">
</script>

 {% if location %}
     <p>
         here
     </p>
     {% endif %}


     <script type="text/javascript">


        lat1 = {{lat1}};
        long1 = {{long1}};

         lat2 = {{lat2}};
        long2 = {{long2}};

         lat3 = {{lat3}};
        long3 = {{long3}};

         lat4 = {{lat4}};
        long4 = {{long4}};


     </script>

     <script src="/static/js/map.js">
    </script>
</head>

<body>
<div id="googleMap" style="width:800px;height:600px;"></div>

<form action="{% url 'search' %}" method='get'>
    {% csrf_token %}
    <input type="submit" class="btn"  value="Back">
</form>

</body>


</html>
{% endblock %}
